force-app/main/default/flows/NewLeadFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_Campaign_Members</name>
        <label>Assign Campaign Members</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>singleCampaignMember.CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Campaigns.CampaignImageId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleCampaignMember.LeadId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Assign_Lead.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleCampaignMember.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Received</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Campaign_Member</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Lead_Data</name>
        <label>Assign Lead Data</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>Assign_Lead.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactName.firstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Assign_Lead.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactName.lastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Assign_Lead.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactEmail.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Assign_Lead.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactPhone.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Assign_Lead.Company</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Lead from Web</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Assign_Lead.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactAddress.city</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Assign_Lead.Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactAddress.street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Assign_Lead.State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactAddress.province</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Assign_Lead.PostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactAddress.postalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Assign_Lead.Ad__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Assign_Ad.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Leads</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Single_Ad</name>
        <label>Assign Single Ad</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>Assign_Ad.UTM_Campaign__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>umt_campaign</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Assign_Ad.UTM_Content__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>umt_content</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Assign_Ad.UTM_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>umt_id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Assign_Ad.UTM_Medium__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>umt_medium</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Assign_Ad.UTM_Referer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>umt_referer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Assign_Ad.UTM_Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>umt_source</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Assign_Ad.UTM_Term__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>umt_term</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Assign_Ad.Campaign__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Campaigns.CampaignImageId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Ad</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Campaign_Check</name>
        <label>Campaign Check</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>Invalid</defaultConnectorLabel>
        <rules>
            <name>Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaigns.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Single_Ad</targetReference>
            </connector>
            <label>Valid</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>NewLeadFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>NewLeadFlow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Ad</name>
        <label>Create Ad</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Contact_Form</targetReference>
        </connector>
        <inputReference>Assign_Ad</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Campaign_Member</name>
        <label>Create Campaign Member</label>
        <locationX>50</locationX>
        <locationY>1118</locationY>
        <connector>
            <targetReference>ThanksScreen</targetReference>
        </connector>
        <inputReference>singleCampaignMember</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Leads</name>
        <label>Create Leads</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>Assign_Campaign_Members</targetReference>
        </connector>
        <inputReference>Assign_Lead</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Campaigns</name>
        <label>Get Campaigns</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Campaign_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>umt_source</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Contact_Form</name>
        <label>Contact Form</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Lead_Data</targetReference>
        </connector>
        <fields>
            <name>contact_data</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Contact Form&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!umt_campaign}&lt;/p&gt;&lt;p&gt;{!umt_content}&lt;/p&gt;&lt;p&gt;{!umt_id}&lt;/p&gt;&lt;p&gt;{!umt_medium}&lt;/p&gt;&lt;p&gt;{!umt_term}{!umt_source}&lt;/p&gt;&lt;p&gt;{!umt_referer}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ContactName</name>
            <extensionName>flowruntime:name</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ContactEmail</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ContactPhone</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Company</name>
            <dataType>String</dataType>
            <fieldText>Company</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ContactAddress</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ThanksScreen</name>
        <label>ThanksScreen</label>
        <locationX>50</locationX>
        <locationY>1238</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Thanks</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-family: tahoma; font-size: 16px;&quot;&gt;Thank you for your interest!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Campaigns</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>Assign_Ad</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Ad__c</objectType>
    </variables>
    <variables>
        <name>Assign_Lead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>email</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>firstName</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>lastName</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>phone</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>singleCampaignMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>umt_campaign</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>umt_content</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>umt_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>umt_medium</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>umt_referer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>umt_source</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>umt_term</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
